<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keywords counter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        form {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <div v-show="error" class="alert alert-danger" role="alert">{{ error }}</div>
        <form v-on:submit.prevent="analyzePage">
          <div class="form-group">
            <label for="url">URL to analyze</label>
            <input type="text" v-model="url" class="form-control" id="url" placeholder="Enter url">
          </div>
          <button class="btn btn-primary">RUN</button>
        </form>
        <div class="loader" v-show="pendingRequest">Loading results...</div>
        <results v-show="results" v-bind:results="results"></results>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.component('result-item', {
          props: ['result'],
          template: '<tr><td scope="row">{{ result.keyword }}</td><td>{{ result.count }}</td></tr>'
        });
        Vue.component('results', {
            props: ['results'],
            template: `
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">Keyword</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                <result-item
                  v-for="result in results"
                  v-bind:result="result"
                  v-bind:key="result.keyword">
                </result-item>
            </tbody>
        </table>`
        });
        const app = new Vue({
          el: '#app',
          data: {
              error: false,
              pendingRequest: false,
              results: null,
              url: '',
          },
          methods: {
            analyzePage: function () {
                this.pendingRequest = true;
                this.results = this.error = null;
                axios
                    .get(`/analyze?url=${this.url}`)
                    .then(response => {
                        this.results = response.data.results;
                    })
                    .catch(error => {
                        this.error = error.response.data.error;
                    })
                    .finally(() => this.pendingRequest = false);
            }
          }
        });
    </script>
</body>
</html>